header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px #dbc2e8;
  padding-bottom: 3%;
}

header img {
  width: 437px;
  height: 59px;
  margin-bottom: 100px;
}

header input {
  background: #f8ecf6;
  border: 1px solid #dcc8c8;
  box-sizing: border-box;
  border-radius: 3px;
  height: 70px;
  width: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 15px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.emoji-container {
  width: 40%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}

.emoji-container span {
  margin-right: 2%;
  text-align: center;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  header img {
    width: 70%;
    height: 70%;
  }
  header input {
    width: 90%;
    height: 50px;
  }
}
